* {
	text-align:center;
}

.headers {
	color:white;
	background-color: #8ac0d1;
	border:none;
	border-radius:25px;
	padding:8px;
}

#aiButton, #annButton {
	color:white;
	background-color: #8ac0d1;
	border:none;
	border-radius:25px;
	padding:16px 32px;
	margin: 8px;
}

#aiContent, #annContent {
	display:none;
}
